<% @soupkitchen.comments.each do |comment} %>
  <div><%= soupkitchen.name
  _________________________

  <%= soupkitchen.comment.title %>
  </div>
<% end %>

  SHOW ALL THE COMMENTS, linked to each sk 