<h3>Your Profile</h3>

<p>Name: <%= @user.first_name %> <%= @user.last_name %> </p>
<p>(This will become a user profile page, with possibility of showing a user's comments here. Comment on: soupkitchen_id, Comment. Plus how many comments a user has made. ) </p>



<%= link_to "home", root_path %><br>
<%= link_to "Log Out", logout_path %>

