<h2>Yelp for Soup Kitchens and Food Pantries in Philadelphia</h2>

<p>Wondering what your local soupkitchen or foodpantry is really like? Check these out, read the reviews and leave your comments.</p>


<%= link_to "Soup Kitchens", soupkitchens_path %>
<br>

Coming soon! <%= link_to "Food Pantries", food_pantries_path %>


