<h2>Yelp for Soup Kitchens and Food Pantries in Philadelphia</h2>

<h3>Wondering what your local kitchen or pantry is like? </h3>
<h3>Check these out AND leave comments.</h3>

<%= link_to "Soup Kitchens", soupkitchens_path %>
<%= link_to "Add a Soup Kitchen", new_soupkitchen_path %>
<%= link_to "Signup", signup_path %>
<%= link_to "Signin", signin_path %>
